@font-face {
    font-family: Roboto ;
    src: url(Roboto-Regular.ttf) ;
}

* {
    font-family: Roboto, Tahoma, sans-serif ;
}

html {
    height: 100% ;
}

body {
    height: 100% ;
}

body {
    background-image: url(sea-of-clouds-seamless-repeating-tile.jpg) ;
}

h1, h2, h3, h4, h5, h6, span, li, p, a, .label {
    font-weight: normal ;
    font-family: Roboto ;
}

.container-content {
    width: 100% ;
    background: transparent ;
}

.navbar {
    margin: 0 ;
}

.page-header {
    opacity: 0.8 ;
    width: 100% ;
    background-color: #66f;
    margin-top: 0;
    padding: 1px 20px 10px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 40px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

#container-main.container {
    width: 900px ;
    background: rgba(256,256,256,0.8) ;
    border-left: 2px solid #ccc ;
    border-right: 2px solid #ccc ;
    z-index: 0 ;
}

#navbar-search,
#navbar-search-btn {
    opacity: 0.9 ;
    margin-top: 5px ;
    height: 25px ;
    max-height: 25px ;
}

#navbar-search-btn {
    padding: 4px 10px 5px 10px ;
    font-size: 12px ;
    height: 25px ;
}

#footer {
    background: #22c;
    height: 30px ;
    line-height: 30px ;
    opacity: 0.8 ;
}

#footer.transparent {
    opacity: 0 ;
}

.navbar {
    min-height: 30px ;
}

#footer-container {
    height: 30px ;
    min-height: 30px ;
}

#footer-container > p {
    color: white ;
    margin-left: 40px ;
    text-shadow: 0 0 2px black ;
}

#post_pub_date {
    margin-left: 2px ;
}

#post_text {
    margin: 15px 0 15px 10px ;
}

.post.col-md-12 {
    padding: 30px 20px 30px 20px ;
    background: rgba(220,220,220,0.5) ;
}

.page-header {
    margin-bottom: 0 ;
    z-index: 10 ;
    border-bottom: 1px solid #777 ;
    height: 60px ;
}

#post-title {
    margin-top: 0 ;
}

#content-title.container-content {
    z-index: 10 ;
    height: 60px ;
}

.page-header h1 {
    margin-top: 12px ;
    font-size: 32px ;
    text-shadow: 0 0 2px black ;
}

#container-main {
    padding: 40px 40px 20px 40px ;
    min-height: 100% ;
}

#post-location {
    margin-left: 10px ;
    margin-top: 20px ;
}

#id_category,
#id_tags {
    border: 2px solid #ccc ;
}

label[for="id_category"],
label[for="id_tags"] {
    width: 60px ;
    text-align: right ;
    margin-right: 20px ;
}

label[for="id_tags"] {
    vertical-align: top;
}

#id_tags ~ .helptext {
    font-size: 0 ;
}

#login_form {
    text-align: center ;
}

#user-login,
#user-pass {
    margin-bottom: 5px ;
    margin-top: 10px ;
}

#login_form input[type="submit"] {
    margin-top: 15px ;
    width: 100px ;
}

#user_form label {
    width: 70px ;
}

#user_form label[for="id_picture"] {
    width: 200px ;
    margin-top: 10px ;
}

#user_form input[name="submit"] {
    margin-top: 20px ;
    width: 200px ;
}

#user_form .align-center {
    text-align: center ;
}

#user_form span.helptext {
    margin-left: 10px ;
}

#main-link {
    line-height: 18px ;
}