{% extends "blogengine/includes/base.html" %}

{% load custom_markdown %}
{% block header %}
    <div class="page-header">
        <h1>Детальна інформація</h1>
    </div>
{% endblock %}
{% block content %}
    <div class="post col-md-12">
        <h1 id="post-title">
            <div id="post-title-text">
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </div>
        </h1>
        <h6 id="post_pub_date">{{ post.pub_date }}</h6>
        {% if user == post.author %}
            <a id="edit-btn"
               class="btn btn-default"
               href="{% url 'blogengine.views.post_control' pub_date__year=post.pub_date.year pub_date__month=post.pub_date.month slug=post.slug %}">
                <span id="edit-ic" class="glyphicon glyphicon-pencil"></span>
                <p id="edit-text">Керування записом</p>
            </a>
        {% endif %}
        <h5 id="post_text">{{ post.text|custom_markdown }}</h5>
        {% if user.is_authenticated %}
            <h5 id="post-location">Розташування:</h5>
            {% load easy_maps_tags %}
            {% easy_map post.location 600 400 %} <br />
            <a id="subscribe-btn"
               class="btn btn-default"
               href="{% url 'blogengine.views.post_subscribe' pub_date__year=post.pub_date.year pub_date__month=post.pub_date.month slug=post.slug %}">
                <span  id="subscribe-ic" class="glyphicon glyphicon-envelope"></span>
                <p id="subscribe-text">Підписатися на новини</p>
            </a><br /><br />
            {% if post.category %}
                <a href="{{ post.category.get_absolute_url }}"><span class="label label-primary">{{ post.category.name }}</span></a>
            {% endif %}
            {% if post.tags %}
                {% for tag in post.tags.all %}
                    <a href="{{ tag.get_absolute_url }}"><span class="label label-success">{{ tag.name }}</span></a>
                {% endfor %}
            {% endif %}
        {% else %}
            <h5 id="post-location">Щоб побачити детальну інформацію, увійдіть у систему.</h5>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        <div class="col-md-12">
            <h4>Коментарі</h4>
                <div class="fb-comments"
                     data-href="http://{{ object.site }}{{ object.get_absolute_url }}"
                     data-width="470"
                     data-num-posts="10">
                </div>
        </div>
    {% endif %}
{% endblock %}